
@tailwind base;
@tailwind components;
@tailwind utilities;



  @font-face {
    font-family: "RadioCanada";
    src: url("assets/fonts/RadioCanada-Regular.ttf");
  }

  @font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/MontserratAlternates-Light.ttf");
  }

  @layer base {
    Link {
      @apply text-yellow-300;
    }
  }

